<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.netease.lofter.tango.impl.mapper.clickhouse.ClickHouseBlogMapper">

    <sql id="LEVEL_CONDITION_CLAUSE">
        <if test="level != null and level.size &gt; 0">
            and
            <foreach collection="level" item="levelItem" open="(" close=")" index="index">
                level = #{levelItem}
                <if test="index &lt; (level.size - 1)">
                    or
                </if>
            </foreach>
        </if>

    </sql>

    <sql id="NEW_LEVEL_CONDITION_CLAUSE">
        <if test="newLevel != null and newLevel.size &gt; 0">
            and
            <foreach collection="newLevel" item="levelItem" open="(" close=")" index="index">
                creator_center_level = #{levelItem}
                <if test="index &lt; (newLevel.size - 1)">
                    or
                </if>
            </foreach>
        </if>

    </sql>

    <sql id = "BLOG_FILTER_CLAUSE">

        and dt &lt;= #{endDate} and dt &gt;= #{startDate}

        <include refid="LEVEL_CONDITION_CLAUSE"/>

        <include refid="NEW_LEVEL_CONDITION_CLAUSE"/>

        <if test="fansRangeLower &gt; 0">
            and fans_std &gt;= #{fansRangeLower}
        </if>

        <if test="fansRangeUpper  &gt; 0">
            and fans_std &lt;= #{fansRangeUpper}
        </if>

        <if test="firstPostStartDate">
            and  first_publish_date &gt;= #{firstPostStartDate}
        </if>

        <if test="firstPostEndDate">
            and  first_publish_date &lt;= #{firstPostEndDate}
        </if>

        <if test="lastPostStartDate">
            and  last_publish_date &gt;= #{lastPostStartDate}
        </if>

        <if test="lastPostEndDate">
            and  last_publish_date &lt;= #{lastPostEndDate}
        </if>

        <if test="blogIdUrl">
            and userId in (select userId from url(#{blogIdUrl}, CSV, 'userId UInt64'))
        </if>

        <if test="blogHomePageUrl">
            and blog_url in (select url from url(#{blogHomePageUrl}, CSV, 'url String'))
        </if>
    </sql>

    <select id="listBlog"
            parameterType="map"
            resultType="com.netease.lofter.tango.impl.web.vo.clickhouse.ClickhouseBlogVO">
        select dt,userId as blogId,blog_url,daren_names,blog_name,fans_std,post_count_std,level,domain_r1,is_premium,
               post_main_content_type,blog_nickname,creator_center_level,create_time,first_publish_date,last_publish_date,
               premium_post_count,text_post_count_std,photo_post_count_std,video_post_count_std,pay_post_count,
               receive_hot_std,receive_recommend_cnt,fans_cnt_7d,fans_cnt_30d,
               formatDateTime(toDateTime(create_time/1000), '%F') as registerDate,
               multiIf(level = 'S', 'A', level = 'A', 'B', level = 'B', 'C', level = 'C', 'D', level = 'D', 'E', level = 'D*', 'F', 'G') level_sort
        from lofter.tag_fetch_blog_dd
        where 1 = 1
        <include refid="BLOG_FILTER_CLAUSE"/>
        <choose>
            <when test="sortField != null">
                order by ${sortField} ${sortOrder}
            </when>
            <otherwise>
                order by dt desc, level_sort
            </otherwise>
        </choose>

        limit #{limit} offset #{offset}
    </select>


    <select id="countBlog" resultType="long">
        select count(*)
        from lofter.tag_fetch_blog_dd
        where 1 = 1
        <include refid="BLOG_FILTER_CLAUSE"/>
    </select>

</mapper>